@import "vars-mixins";

//https://keithclark.co.uk/articles/moving-ie-specific-css-into-media-blocks/media-tests

@mixin depr {
	.deprecated {
		display: block;
		position: fixed;
		top: 10px;
		right: 10px;
		padding: 10px 20px;
		background: #ffffff;
		border: 1px solid red;
		border-radius: 5px;
		z-index: 99999;
		& p {
			font-size: 24px;
			color: #000000;
		}
	}
}


//ie 6-8
@media \0screen\,screen\9  {
	@include depr;
}

//ie 9-10
@media screen and (min-width:0\0) {
	@include depr;
	.header{
		&__grid {
			padding-top: 15px;
		}
		&__logo {
			@include ms-grid-cols-rows(2, 3);
		}
		&__menu {
			@include ms-grid-cols-rows(3, 4);
		}
		&__lang {
			@include ms-grid-cols-rows(5, 6);
		}
		&__btn {
			@include ms-grid-cols-rows(3, 4);
			@include breakUp("sm") {
			@include ms-grid-cols-rows(4, 6);
			}
			@include breakUp("md") {
				@include ms-grid-cols-rows(5, 6);
			}
			@include breakUp("lg") {
				@include ms-grid-cols-rows(4, 5);
			}
		}
	}


	// }//header
	.footer {
		&__grid {
			text-align: center;
			@include breakUp("lg") {
				-ms-flex-direction: column;
			}
		}
		&__logo {
			margin: 30px auto;
			@include ms-grid-cols-rows(1, 2, 2, 3);
			@include breakUp("lg") {
				@include ms-grid-cols-rows(2, 3, 1, 2);
			}
		}
		
		&__social {
			margin: 0 auto;
			// @include ms-grid-cols-rows(1, 2, 4, 5);
			@include breakUp("lg") {
				@include ms-grid-cols-rows(3, 4, 1, 2);
			}
		}

		&__contact {
			// @include ms-grid-cols-rows(1, 2, 1, 2);
			@include breakUp("lg") {
				@include ms-grid-cols-rows(1, 2);
			}
		}
		&__slogan {
			// @include ms-grid-cols-rows(1, 2, 3, 4);
			@include breakUp("lg") {
				@include ms-grid-cols-rows(2, 3, 1, 2);
				margin-top: 90px;
			}
		}
		&__copy {
			// @include ms-grid-cols-rows(1, 2, 5, 6);
			@include breakUp("lg") {
				@include ms-grid-cols-rows(2, 3, 1, 2);
				margin-top: 80px;
			}
		}

	}//footer


	.front-top {//add responsive
		&_top-left {
			@include ms-grid-cols-rows(1, 2, 1, 2);
		}
		&_top-right {
			@include ms-grid-cols-rows(3, 4, 1, 2);

		}
		&_bottom-left {
			@include ms-grid-cols-rows(1, 2, 2, 3);

		}
		&_bottom-right {
			@include ms-grid-cols-rows(3, 4, 2, 3);

		}
		&__logo {
			@include ms-grid-cols-rows(2, 3, 1, 2);

		}
		&__content {
			@include ms-grid-cols-rows(2, 3, 2, 3);

		}
	}//front-top

	.all-services__img {display: block;}//not flex

	.remote__bg {
		position: relative;
		padding: 0;
		background-position: 0 0;
		background-size: contain;
		top: 80px;
	}
}